.wrapper {
  display: flex;
  justify-content: space-around;
  width: 60rem;
  margin: 5rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 30%;
  gap: 1rem;
}
.image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
